@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/light.ttf');
}

@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/regular.ttf');
}

@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/medium.ttf');
}


@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/semiBold.ttf');
}

@font-face {
  font-family: 'fira sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/bold.ttf');
}

@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/extraBold.ttf');
}


@font-face {
  font-family: 'fira sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/black');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fira sans, sans-serif;
}

#my-element {
  user-select: auto !important;
}

:root {
  /* animation */
  --transition: all 0.3s ease-in-out;
  /* COLORS */
  --white: #ffffff;
  --black: #000000;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --primary-100: #BFD7EA;
  --primary-200: #8FB5C8;
  --primary-300: #6093A6;
  --primary-400: #307084;
  --primary-500: #004E62;
  --primary-600: #004759;
  --primary-700: #004050;
  --primary-800: #003947;
  --primary-900: #00323E;


  --secondary-100: #FFEE9C;
  --secondary-200: #FFE875;
  --secondary-300: #FFE14E;
  --secondary-400: #FFDB27;
  --secondary-500: #FFD400;
  --secondary-600: #E8C100;
  --secondary-700: #D1AD00;
  --secondary-800: #B99A00;
  --secondary-900: #A28700;

  --rating: #ffc107;
}

:where(html, body) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body:after {
  transition: var(--transition);
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  pointer-events: none;
}

body.active {
  overflow-y: hidden;
}

body.active:after {
  pointer-events: auto;
  background-color: var(--black);
}

main {
  display: flex;
  flex-direction: column;
}

section:not(.no-padding) {
  padding: 30px 0;
  position: relative;
}

figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

a:has(figure):hover img {
  scale: 1.1;
}

figure.overlay:before {
  position: absolute;
  content: '';
  inset: 0;
  background: linear-gradient(0deg, var(--black) 20%, transparent 50%);
  z-index: 1;
  opacity: 0.8;
}

figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: var(--transition);
}

.bg {
  background-color: #f0f5f6;
  box-shadow: inset 0 0 5px #d7e6e9;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--primary-600);
}

::selection {
  background-color: var(--primary-900);
  color: var(--white);
}

::placeholder {
  color: var(--gray-400);
  text-transform: capitalize;
}

:where(img, svg) {
  vertical-align: middle;
}

svg {
  height: 20px;
  width: 20px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2px;
  fill: none;
}

:where(input, button, textarea) {
  border: none;
  outline: none;
  background-color: transparent;
}

body :where(h1, h2, h3, h4, h5, h6, p) {
  line-height: 1.3;
  margin: 0;
}

html :where(ol, ul, li) {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:where(a:not([href]):not([class]), a:not([href]):not([class]):hover) {
  color: unset;
  text-decoration: none;
}

picture {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 40px;
  min-width: 40px;
}

picture img {
  max-height: 100%;
  max-width: 100%;
}

.webkit_box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.arrows {
  height: 40px !important;
  width: 40px !important;
  transition: var(--transition);
  border-radius: 6px;
  background: var(--secondary-500);
}

.arrows.swiper-button-disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
  pointer-events: inherit !important;
}

.arrows:after {
  color: var(--black);
  font-size: 18px !important;
  font-weight: 700;
}


/*----------swiper bullet----------*/

.swiper-pagination-bullet {
  border-radius: 1px !important;
  transition: 0.5s ease;
  opacity: 1 !important;
  background: #fff9 !important;
  width: 30px;
  height: 3px;
}

.swiper-pagination-bullet-active {
  background: var(--secondary-500) !important;
  font-size: 15px;
}

img {
  position: relative;
}

img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--white) url("../images/common/favicon.svg") center no-repeat;
  background-size: cover;
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: var(--gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  font-size: clamp(25px, 3vw, 30px);
  color: var(--black);
  font-weight: 700;
  text-transform: capitalize;
  margin: 5px 0 35px 0;
}

.heading:first-letter {
  position: absolute;
  right: 0;
  border: 3px solid var(--primary-500);
  padding: 5px 0 5px 10px;
  border-right: 0;
}

[type="search"]::-webkit-search-cancel-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  background-size: 20px 20px;
  background-image: url(../images/common/close.svg);
}

/* Header */
header {
  position: relative;

  background-color: var(--primary-500);
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 10px 0;
}

.header_top_main {
  background-color: var(--primary-700);
  padding: 15px 30px;
  border-radius: 5px;
}

.header_bottom {
  background-color: var(--primary-500);
}

.header_bottom_main {
}

.search {
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  height: 45px;
  max-width: 600px;
  /* position: relative; */
  width: 100%;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
  padding: 5px;
}

.search svg {
  background-color: var(--secondary-500);
  border-radius: 5px;
  padding: 7px;
  stroke: var(--primary-500);
  height: 35px;
  width: 35px;
  flex: 0 0 35px;
}

.menu {
  display: flex;
  grid-gap: 20px;
  justify-content: center;
}

.menu::-webkit-scrollbar {
  height: 2px;
}

.menu::-webkit-scrollbar-track {
  background-color: transparent;
}

.menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-500);
}

.nav_link {
  color: white;
  position: relative;
  font-weight: 500;
  font-size: clamp(14px, 2vw, 16px);
  padding-bottom: 5px;
  transition: 0.3s ease;
  text-transform: capitalize;
}

.nav_link:where(.active, :hover) {
  color: var(--secondary-500);
}

.nav_link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.3s ease;
  background-color: var(--secondary-500);
}

.nav_link:where(.active, :hover)::before {
  width: 100%;
}

.form_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  padding: 6px;
}

.logo {
  height: 80px;
  width: 180px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_bottom_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
  position: relative;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

.btn {
  padding: 10px 20px;
  background-color: var(--secondary-500);
  color: var(--black);
  border-radius: 5px;
  align-items: center;
  height: 45px;
  display: flex;
  transition: 0.3s ease;
  text-transform: capitalize;
  flex: 0 0 auto;
  font-weight: 600;
}

.btn span {
  line-height: 1;
  font-weight: 500;
}

.btn:hover {
  background-color: var(--secondary-600);
  color: var(--white);
}

/* hero slide */
.hero_slider .arrows {
  top: 180px;
}

.hero_slide {
  display: flex;
  height: 500px;
  /*   height: calc(100dvh - 164px);*/
}

.hero_slide_img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero_slide_img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background: linear-gradient(90deg, #001f27c4 50%, transparent 100%);
  z-index: 1;
}

.hero_slide_content {
  z-index: 1;
  position: relative;
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 15px;
  height: 100%;
  opacity: 0;
  justify-content: center;
  max-width: 800px;
  padding-bottom: 70px;
  opacity: 0;
  transition-delay: 1s;
}

.swiper-slide-active .hero_slide_content {
  animation: slideAnimation 1s ease-in-out 1s;
  opacity: 1;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.hero_slide_title {
  font-size: clamp(30px, 4vw, 45px);
  font-weight: 700;
  color: var(--white);
}

.hero_slide_description {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-200);
  line-height: 1.5;
  max-width: calc(100% - 300px);
}

.hero {
  padding: 0 !important;
  position: relative;
}

.hero_main {
  position: absolute;
  width: 800px;
  right: 0;
  bottom: 0;
}

.hero_thumbnail {
  background-color: #004e6278;
  padding: 20px;
  border-radius: 10px 0 0 0;
  backdrop-filter: blur(10px);
}

.hero_slide_thumb {
  border-radius: 10px;
}

.swiper-slide:has(.hero_slide_thumb) {
  height: 120px;
  cursor: pointer;
  transition: 0.3s ease;
  filter: grayscale(1);
}

.swiper :where(.swiper-slide-thumb-active):has(.hero_slide_thumb) {
  filter: grayscale(0);
}

.cus_pagintaion .container {
  position: relative;
}

.cus_pagintaion .swiper-pagination {
  color: var(--white);
  text-align: left;
  font-size: 16px;
  bottom: 40px;
  font-weight: 600;
  text-transform: capitalize;
  padding: inherit;
}

/* popular post  */

.p_p_main {
  display: flex;
  grid-gap: 30px;
}

.p_p_main>* {
  flex: 1;
}

.p_p_blog {
  display: flex;
  grid-gap: 20px;
  flex-direction: column;
}

.p_p_img {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--gray-50);
}

.p_p_content {
  flex-direction: column;
  display: flex;
  grid-gap: 10px;
}

.p_p_title {
  font-size: clamp(20px, 2vw, 25px);
  font-weight: 700;
  color: var(--black);
}

.p_p_details {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}

.p_p_detail {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.p_p_detail span {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-500);
  text-transform: capitalize;
}

.p_p_detail svg {
  stroke: var(--primary-500);
}

.p_p_description {
  color: var(--gray-500);
  font-weight: 400;
  -webkit-line-clamp: 3;
}

.p_p_grid .swiper-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  max-height: 609px;
  overflow-y: auto;
  padding-right: 10px;
  grid-gap: 20px;
}

.p_p_grid .arrows {
  display: none;
}

.p_p_grid .p_p_blog {
  grid-gap: 10px;
}

.p_p_grid .p_p_blog .p_p_img {
  height: 200px;
}

.p_p_grid .p_p_blog .p_p_title {
  font-size: clamp(16px, 2vw, 20px);
}

.p_p_grid .p_p_blog .p_p_description {
  display: none;
}

.p_p_grid .p_p_blog .p_p_detail svg {
  height: 18px;
  flex: 0 0 18px;
  width: 18px;
}

a:has(.p_p_img) {
  flex: 1;
}

.p_p_grid .p_p_blog a:has(.p_p_img) {
  flex: unset;
}

/* latest post */
.l_p_blog {
  display: flex;
  align-items: center;
  grid-gap: 30px;
  padding: 30px 40px;
  border-radius: 20px;
  background: var(--white);
  box-shadow: 0 0 10px var(--gray-200);
  margin-top: 50px;
}

.l_p_img {
  border-radius: 15px;
  margin-top: -60px;
  height: 350px;
  transform: translateY(-30px);
  max-width: 450px;
  transition: 1s ease 0s;
}

.l_p_blog>* {
  flex: 1;
}

.l_p_content {
  display: flex;
  flex-direction: column;
  transition: 1s ease 0s;
  align-items: flex-start;
  grid-gap: 12px;
  opacity: 0;
  transform: translateX(-30px);
}

.l_p_content .btn {
  margin-top: 10px;
}

.l_p_swiper_btns {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  right: 20px;
  bottom: 20px;
}

.l_p_swiper_btns>* {
  position: unset;
  margin: 0;
}

.l_p_swiper_btns>* svg {
  height: 20px;
  width: 20px;
  stroke: var(--black);
}

.l_p_swiper_btns>*:after {
  content: none;
}

.swiper-slide-active .l_p_img {
  transition-delay: 0.5s;
  transform: translateY(0);
}

.swiper-slide-active .l_p_content {
  transition-delay: 1s;
  transform: translateX(0);
}

.swiper-slide .l_p_blog>*:not(.l_p_swiper_btns) {
  opacity: 0 !important;
}

.swiper-slide-active .l_p_blog>*:not(.l_p_swiper_btns) {
  opacity: 1 !important;
}

/* popular categories */
.p_c_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px;
}

.p_c_item {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--gray-300);
}

.p_c_img {
  height: 140px;
}

.p_c_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.p_c_title {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  color: var(--black);
  background: #f0f5f6;
  z-index: 1;
  width: 100%;
  padding: 12px 10px;
}

.p_c_offer {
  background: #f0f5f6;
  padding: 8px 20px;
  font-size: 13px;
  text-transform: capitalize;
  color: var(--primary-500);
  position: absolute;
  border-bottom: 2px solid var(--gray-300);
  left: 50%;
  font-weight: 600;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
  bottom: 0%;
  min-width: 100px;
  border-radius: 5px 5px 0 0;
}

.p_c_item:hover .p_c_offer {
  bottom: 100%;
}

.p_c_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p_c_header:has(.heading) {
  margin-bottom: 35px;
}

.p_c_header .heading {
  margin-bottom: 0;
}

/* disclaimer */
.disclaimer {
  padding: 50px 0 40px 0 !important;
}

.disclaimer_main {
  display: flex;
  grid-gap: 30px;
  background: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  align-items: flex-start;
}

.subscribe {
  flex: 0 0 350px;
  background: var(--primary-500);
  padding: 50px 20px 20px;
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  position: relative;
  box-shadow: 0 2px 8px 0px var(--gray-300);
  border-radius: 0 0 10px 10px;
}

.subs_heading {
  font-size: clamp(20px, 3vw, 22px);
  color: var(--white);
  font-weight: 600;
  text-transform: capitalize;
}

.subs_description {
  font-size: clamp(14px, 3vw, 15px);
  color: var(--gray-300);
}

.subscribe:before,
.subscribe:after {
  content: '';
  position: absolute;
  background: inherit;
  filter: brightness(0.5);
  height: 20px;
  width: 15px;
  top: 0;
}

.subscribe:before {
  right: 100%;
  clip-path: polygon(100.1% 0%, 100% 100%, 0% 100%);
}

.subscribe:after {
  left: 100%;
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.subscribe_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  height: 45px;
  background: var(--white);
  border-radius: 4px;
  overflow: hidden;
}

.subscribe_form button {
  height: 100%;
  width: 45px;
  background: var(--secondary-500);
  margin-top: auto;
}

.subscribe_form input {
  flex: 1;
  padding: 10px;
}

.disclaimer_text p {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-500);
  line-height: 1.4;
}

.dis_heading {
  padding-bottom: 15px;
  font-size: clamp(22px, 2vw, 25px);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

main {
  height: 100%;
  overflow: auto;
}

/* footer */

.social_icons {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  justify-content: center;
}

.icon.google_plus figure {
  height: 25px;
  width: 25px;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
  overflow: hidden;
}

.icon figure {
  height: 20px;
  width: 20px;
}


.icon figure img {
  object-fit: contain;
}

.icon.facebook {
  background: #1877f2;
}

.icon.twitter {
  background: #5da9dd;
}

.icon.google_plus {
  background: #e13838;
}

.icon.linkedin {
  background: #0250b1;
}

.icon.pinterest {
  background: #e60023;
}

.icon.instagram {
  background: linear-gradient(216deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

footer {
  background: #00252e;
  padding: 40px 0;
}

.ftr_item {
  display: flex;
  grid-gap: 30px;
}

.ftr_logo {
  justify-content: center;
  position: relative;
  background: #00252e;
}

.ftr_logo:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--gray-500);
  width: 100%;
}

.ftr_logo .logo {
  z-index: 1;
  position: relative;
  background: #00252e;
  width: 240px;
  padding: 10px 30px;
  height: 80px !important;
}

.footer {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.ftr_heading {
  font-size: clamp(20px, 2vw, 25px);
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.ftr_post {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  max-height: 280px;
  overflow: auto;
}

.ftr_post::-webkit-scrollbar {
  display: none;
}

.ftr_blog {
  display: flex;
  align-items: center;
  grid-gap: 15px;
}

.ftr_blog figure {
  height: 80px;
  width: 80px;
  flex: 0 0 80px;
  border-radius: 10px;
}

.ftr_blog_title {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--white);
  font-weight: 500;
  text-transform: capitalize;
  -webkit-line-clamp: 2;
}

.ftr_blog content {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.ftr_blog .p_p_detail span {
  color: var(--gray-300);
  font-weight: 300;
  font-size: 14px;
}

.ftr_blog .p_p_detail svg {
  stroke: var(--secondary-500);
  stroke-width: 1.5px;
}

.ftr_blog_item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ftr_item.ftr_subscribe {
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
  max-width: 600px;
  margin: auto;
  width: 100%;
}

.ftr_subscribe .ftr_heading {
  margin-bottom: 0;
}

.ftr_blog_item.socials_icon {
  align-items: center;
  position: relative;
  align-self: center;
}

.ftr_blog_item.socials_icon:before {
  /*   content: '';*/
  position: absolute;
  width: 2px;
  height: 100px;
  bottom: 50px;
  background: var(--gray-500);
  left: 50%;
  transform: translateX(-50%);
}

.copyright {
  color: var(--gray-300);
  display: flex;
  align-items: center;
  margin-top: 20px;
  grid-gap: 5px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 40px;
  border-top: 1px solid var(--gray-500);
  text-align: center;
  justify-content: center;
}

.ftr_link_list.tag {
  display: flex;
  align-items: center;
  grid-gap: 15px 20px;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.ftr_link {
  padding: 6px 15px;
  border: 1px solid var(--gray-700);
  display: block;
  border-radius: 5px;
  color: var(--gray-400);
  font-weight: 500;
  text-transform: capitalize;
  transition: 0.2s ease;
  font-size: 14px;
}

.ftr_link:hover {
  background: var(--secondary-500);
  color: var(--black);
  border-color: var(--secondary-500);
}

/* breadcrumbs */
.breadcrumbs {
  background: var(--primary-800);
  padding: 30px 0 0 !important;
}

.breadcrumbs:before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  background: inherit;
  left: 0;
  height: 80px;
  z-index: -1;
}


.categories_main:before {
  position: absolute;
}

.breadcrumb_main:after,
.breadcrumb_main:before,
.breadcrumb_heading:after,
.breadcrumb_heading:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 12px;
  background: white;
  top: calc(100% + 60px);
  z-index: 1;
  right: 100%;
}

.breadcrumb_main:after,
.breadcrumb_heading:after {
  border-radius: 0 0 10px 0;
  background: #003947;
  height: 30px;
  width: 12px;
  top: calc(100% + 50px);
}

.breadcrumb_heading:after,
.breadcrumb_heading:before {
  left: 100%;
  right: auto;
}

.breadcrumb_heading:after {
  border-radius: 0 0 0 10px;
}

.breadcrumb_main {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  position: relative;
}

.breadcrumb_heading {
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white);
}

.breadcrumb {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.breadcrumb a {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--white);
  line-height: 1;
  text-transform: capitalize;
}

.breadcrumb li:not(.active) a {
  opacity: 0.5;
}

.breadcrumb li a:has(svg) {
  opacity: 1 !important;
}

.breadcrumb a svg {
  height: 18px;
  width: 18px;
  stroke: var(--white);
}

/* store */
.stores_main {
  display: flex;
  grid-gap: 30px;
}

.alphabates {
  flex: 0 0 50px;
  padding: 10px;
  background: #f0f5f6;
  box-shadow: inset 0 0 5px var(--gray-200);
  border-radius: 8px;
}

.str_filter {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.str_alpha {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  flex: 0 0 35px;
  width: 35px;
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  background: var(--white);
  border-radius: 5px;
  color: var(--black);
  transition: 0.2s ease;
  box-shadow: 0 0 5px var(--gray-200);
}

.str_alpha:where(:hover, :focus, .active) {
  background: var(--primary-500);
  color: var(--white) !important;
}

.str_main {
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.str_item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  padding: 20px;
  border-radius: 8px;
  background: #eff4f5;
  box-shadow: inset 0 0 5px var(--gray-200);
}

.str_main_heading {
  text-transform: capitalize;
  font-size: clamp(18px, 4vw, 20px);
  font-weight: 600;
  color: var(--black);
}

.str_wrapper {
  align-items: flex-start;
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.p_str {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 6px;
  overflow: hidden;
  grid-gap: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--white);
}

.p_str_img {
  height: 80px;
  width: 80px;
  flex: 0 0 80px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
}

.p_str_img img {
  object-fit: contain;
}

.p_str_content {
  display: flex;
  grid-gap: 5px;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
  word-break: break-all;
}

.offer {
  font-size: clamp(15px, 2vw, 15px);
  font-weight: 400;
  color: var(--gray-500);
}

/* about */

.about_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.about_main h2 {
  font-weight: bold;
}

.about_main h3 {
  font-weight: bold;
}

.about_main p {
  line-height: 1.5;
}

/* categories */
.bg_class {

  padding: 20px;
  border-radius: 10px 10px 0 0;
  background: var(--white);
}

.categories_main {
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: flex-start;
}

.categories_sidebar {
  display: flex;
  grid-gap: 25px;
  flex: 0 0 300px;
  position: sticky;
  flex-wrap: wrap;
  top: 20px;
}

.cat_main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  width: 100%;
}

.cat_sidebar_item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  flex: 1 1 300px;
}

.cat_item .str_main_heading {
  margin-bottom: 20px;
}

.sidebar_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--black);
}

.cat_sidebar_item .search {
  border: 2px solid var(--gray-200);
}

.swiper-slide:has(.cat_slide) {
  max-width: 150px;
}

.cat_slide {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: center;
  background: var(--gray-100);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--gray-200);
}

.cat_img {
  height: 80px;
  width: 80px;
  flex: 0 0 80px;
  padding: 6px;
}

.cat_img img {
  object-fit: contain;
}

.cat_title {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
  text-align: center;
}

.sidebar_categories {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  overflow-y: auto;
  max-height: 400px;
  padding-right: 10px;
}

.sidebar_cat {
  display: flex;
  align-items: center;
  position: relative;
  grid-gap: 10px;
}

.sidebar_categories li:not(:last-of-type) .sidebar_cat {
  border-bottom: 1px solid var(--bs-gray-200);
  padding-bottom: 10px;

}

.sidebar_categories li:not(:last-of-type) .sidebar_cat:before {
  content: '';
  position: absolute;
  bottom: -1.5px;
  border-bottom: 2px solid var(--secondary-500);
  width: 0%;
  transition: 0.3s ease;
}

.sidebar_categories li .sidebar_cat:hover:before {
  width: 100%;
}

.sidebar_cat>svg {
  height: 20px;
  width: 20px;
  stroke: var(--gray-300);
  flex: 0 0 20px;
  stroke-width: 2px;
  transition: 0.3s ease;
}

.sidebar_cat:hover>svg {
  stroke: var(--primary-500);
}

.sidebar_cat_title {
  text-transform: capitalize;
  font-size: clamp(13px, 4vw, 15px);
  font-weight: 600;
  color: var(--black);
  flex: 1;
}

.side_cat_icon {
  height: 35px;
  flex: 0 0 35px;
  transition: 0.3s ease;
  width: 35px;
  border-radius: 5px;
  background: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_cat:hover .side_cat_icon {
  background: var(--secondary-500);
}

.side_cat_icon svg {
  transition: 0.3s ease;
  stroke: var(--primary-500);
}

/* contact */

.fom_wrapper {
  display: flex;
  grid-gap: 20px;
  padding: 30px;
  flex-direction: column;
  border-radius: 10px;
  background: var(--primary-800);
}

.field {
  display: flex;
  position: relative;
  transition: 0.3s ease;
  flex-direction: column;
  grid-gap: 10px;
}

.field label {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
  display: none;
}

.field :where(input, textarea) {
  padding: 10px;
  background: var(--white);
  transition: 0.3s ease;
  border: 2px solid transparent;
  border-radius: 3px;
}

.field:has(textarea) {
  flex: 0 0 100%;
}

textarea {
  min-height: 130px;
  resize: none;
}

.contact_sidebar {
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact_detail {
  color: var(--gray-500);
  font-size: clamp(14px, 2vw, 15px);
  line-height: 1.5;
  -webkit-line-clamp: 4;
}

.c_s_infos {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.c_s_info {
  display: flex;
  grid-gap: 10px;
}

.c_s_content {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.c_s_content span {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--black);
  font-weight: 600;
  text-transform: capitalize;
}

.c_s_content p {
  color: var(--gray-500);
  font-size: clamp(14px, 2vw, 15px);
  line-height: 1.5;
  -webkit-line-clamp: 4;
}

.c_s_info svg {
  height: 45px;
  width: 45px;
  stroke: var(--white);
  padding: 10px;
  background: var(--primary-500);
  border-radius: 5px;
  flex: 0 0 45px;
  display: flex;
  align-items: center;
  stroke-width: 1.5px;
  justify-content: center;
}

.c_side_item {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
}

.contact_main {
  display: flex;
  grid-gap: 30px;
}

.contact_main>* {
  flex: 1;
}

.contact_form {
  flex: 1;
  max-width: 500px;
}

.btn.contact {
  justify-content: center;
}

/* single categories */
.single_cat_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
}

.single_cat_main .p_p_img {
  max-height: 250px;
}

.main_post .l_p_content {
  opacity: 1;
  transform: none;
  flex: 1 1 400px;
  transition: 0s;
}

.main_post {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 30px;
}

.main_post_img {
  border-radius: 10px;
  flex: 1 1 400px;
  max-height: 300px;
}

.main_post .l_p_content .p_p_title {
  font-size: clamp(25px, 3vw, 30px);
}

.l_p_content .p_p_description {
  display: inline-block !important;
  font-size: clamp(15px, 2vw, 17px);
}

.single_post_main .l_p_content .btn {
  display: none;
}

.s_p_body {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  flex: 1;
}

.s_p_body :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}

.s_p_body :where(p, li) {
  color: var(--gray-500);
  line-height: 1.5;
  list-style: disc inside;
}

.s_p_body :where(ol, ul) {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding-left: 30px;
}

.s_p_body img {
  height: 300px;
  border-radius: 10px;
}

.single_post_content {
  display: flex;
  grid-gap: 30px;
  align-items: flex-start;
  padding: clamp(20px, 3vw, 25px);
  background: var(--gray-50);
  border-radius: 10px;
  border: 1px solid var(--gray-200);
}

.post_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;
  padding: 20px 0;
  border: 1px solid #0002;
  border-right: 0;
  border-left: 0;
  position: relative;
}

.post_page {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.post_page picture {
  height: 80px;
  flex: 0 0 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.post_page picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post_page picture span {
  position: absolute;
  z-index: 1;
  color: var(--white);
  font-size: 15px;
  text-transform: capitalize;
  background: var(--secondary-500);
  padding: 5px 0;
  border-radius: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
  opacity: 0;
  top: 100%;
}

.post_page picture:before {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
  z-index: 1;
  transition: 0.3s ease;
}

.post_page:hover span {
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  font-weight: 600;
}

.post_page:hover picture:before {
  background: #0002;
}

.post_page content h5 {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  color: var(--black);
  -webkit-line-clamp: 2;
}

.post_pagination:before {
  position: absolute;
  content: '';
  left: 50%;
  width: 1px;
  background: #0002;
  top: 0;
  bottom: 0;
}

.post_page.next {
  flex-direction: row-reverse;
  text-align: right;
}

/* single store */
.switchers {
  display: inline-flex;
  align-items: center;
  grid-gap: 20px;
}

.switchers_items {
  font-size: 15px;
  color: var(--black);
  position: relative;
  transition: 0.2s ease;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid var(--gray-200);
  flex: 1;
  text-align: center;
  font-weight: 600;
}

.switchers_items:hover,
.switchers_items:focus,
.switchers_items.active {
  color: var(--white);
  background: var(--primary-500);
}

.expire_container {
  filter: grayscale(1);
}

.expired_coupon_container {
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 30px;
}

.expired_coupon_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  color: var(--black);
}

.expired_coupon_container p {
  font-size: clamp(14px, 2vw, 15px);
  font-weight: 500;
  padding-top: 5px;
  color: var(--gray-400);
}

.s_str_head_main {
  background: var(--white);
  padding: 0 !important;
}

.single_str_sidebar {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--gray-200);
}

.sidebar_item:not(:last-child) {
  border-bottom: 1px solid var(--gray-200);
}

.sidebar_item>*>.sidebar_heading {
  padding: 10px 0;
}

.sidebar_item> :where(*:not(:where(h1, h2, h3, h4, h5, h6))) {
  margin: 17px 12px 12px;
}

.str_profile_item {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.str_pro_head {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.str_pro_head .web_imagebox {
  height: 80px;
  width: 80px;
  border: 2px solid var(--primary-500);
  border-radius: 50px;
  padding: 5px;
}

.str_pro_head .web_imagebox img {
  max-height: 90%;
  max-width: 90%;
}

.rated {
  font-size: 15px;
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
}

.rating_wrapepr {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
}

.str_title {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--black);
  font-weight: 700;
  -webkit-line-clamp: 2;
}

.sidebar_item h3 {
  font-size: clamp(16px, 2vw, 18px);
  padding: 12px;
  padding-bottom: 0;
}

.str_abt {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-500);
  -webkit-line-clamp: 5;
  line-height: 1.5;
  font-weight: 500;
}

.side_str {
  overflow-y: auto;
  max-height: 442px;
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  padding-right: 10px;
}

.side_str_item {
  display: flex;
  align-items: center;
  color: var(--black);
  grid-gap: 10px;
  flex-direction: column;
  flex: 1 1 80px;
  padding: 10px 8px 8px;
  background: var(--gray-50);
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
  box-shadow: inset 0 0 5px var(--gray-200);
  border: 2px solid transparent;
}

.side_str_item:hover {
  border-color: var(--primary-500);
}

.side_str_img {
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--gray-300);
}

.side_str_img .web_imagebox {
  height: 100%;
  width: 100%;
}

.side_str_img .web_imagebox img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 60px;
}

.side_str_name,
.side_cat_name {
  transition: 0.2s ease;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--black);
  padding-bottom: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.side_str_offer,
.side_cat_offer {
  transition: 0.2s ease;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-400);
  text-transform: capitalize;
}

.str_side_cat {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}


.str_side_cat_item {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  grid-gap: 10px;
  border-radius: 5px;
  border: 2px dashed var(--gray-200);
  padding: 10px;
}

.str_side_cat_item:hover {
  border-radius: 0;
  border-color: var(--secondary-500);
}

.str_side_cat_item svg {
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  stroke: var(--primary-500);
  background: var(--gray-100);
  padding: 8px;
  border-radius: 5px;
}

.str_side_cat_item:hover svg {
  stroke: var(--gray-50);
  background: var(--primary-500);
}

.sngle_tab {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.sngle_tab_item {
  padding: 6px 12px;
  border-radius: 5px;
  color: var(--black);
  font-size: 14px;
  border: 1px solid #0001;
  font-weight: 500;
  background: #00000007;
  transition: 0.2s ease;
  text-transform: capitalize;
}

.sngle_tab_item:hover {
  background: var(--secondary-500);
  border-color: var(--secondary-500);
  color: var(--white);
}

.s_s_main {
  display: flex;
  align-items: flex-start;
  grid-gap: 30px;
}

.s_s_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(286px, 1fr));
  grid-gap: 25px;
}


.main_cpn {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--white);
  border-radius: 5px;
  box-shadow: 0 0 0 1px var(--gray-200);
}

.main_cpn_head {
  display: flex;
  align-items: flex-start;
  grid-gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px;
  padding-bottom: 10px;
}

.main_cpn_img {
  flex: 0 0 100px;
  height: 90px;
  width: 100px;
  padding: 5px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px var(--gray-200), 0 0 0 1px var(--gray-200);
  border-radius: 5px;
  overflow: hidden;
  background: var(--white);
}


.cpn_title {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--black);
  font-weight: 700;
}

.main_cpn_head_wrapper p {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-400);
  line-height: 1.5;
  -webkit-line-clamp: 2;
  font-weight: 500;
}

.timing {
  display: flex;
  grid-gap: 10px 15px;
  border-radius: 0 0 0 5px;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cus_badge {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 13px;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
}

.cus_badge svg {
  height: 16px;
  width: 16px;
  stroke-width: 2px;
  stroke: var(--gray-500);
}

.cus_badge.expire,
.cus_badge.expire svg {
  stroke: #ff0000;
  color: #ff0000;
  padding: 0;
}

.cus_badge.added,
.cus_badge.added svg {
  stroke: #ff9700;
  color: #ff9700;
  padding: 0;
}

.cus_badge.uses,
.cus_badge.uses svg {
  stroke: var(--primary-900);
  color: var(--primary-900);
  padding: 0;
}

.cus_badge.verified {
  background: #198754;
  justify-content: center;
}

.cus_badge.verified svg {
  stroke: var(--white);
}

.main_cpn_img img {
  max-height: 90%;
  max-width: 90%;
}

.cpn_btn_wrapper {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  width: 100%;
  justify-content: space-between;
}

.ratings svg {
  fill: var(--gray-200);
  height: 23px;
  width: 23px;
  transition: 0.2s ease;
}

.ratings a:where(.active, :hover) svg {
  fill: var(--rating);
}

.web_imagebox {
  display: block;
  min-height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.web_imagebox img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.main_cpn_img .web_imagebox {
  height: 100%;
  width: 100%;
}

.main_cpn_img .web_imagebox img {
  border-radius: 5px;
}

.main_cpn_head_wrapper {
  flex: 1 1 260px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-self: center;
}

.expiered_coupons {
  filter: grayscale(1);
}

.main_cpn_container {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  flex: 1;
}

.sidebar_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
  color: var(--black);
}

.main_cpn_footer {
  display: flex;
  grid-gap: 20px;
  padding: 0 15px 15px;
  flex-direction: column;
}


.visit_str {
  justify-content: center;
  grid-gap: 5px;
}

.cpn_btn {
  background: var(--primary-500);
  width: 180px;
  display: flex;
  align-items: center;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: auto;
}

.cpn_btn.deal {
  background: var(--secondary-500);
}

.cpn_btn.deal p {
  color: var(--black);
}

.cpn_btn p {
  text-transform: capitalize;
  color: var(--white);
  font-size: 15px;
  font-weight: 500;
  flex: 0 0 100%;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.cpn_btn:not(.deal):hover p:nth-child(1) {
  flex: 0 0 60%;
}

.cpn_btn p:nth-child(2) {
  text-align: left;
  border-left: 2px dashed var(--gray-400);
  padding-left: 10px;
}

/* modal */
@media (min-width: 570px) {
  .modal{
    padding: 10px !important;
  }
}   
.modal.fade .modal-dialog {
  transform: none !important;
}

.modal .modal-dialog .modal-content {
  opacity: 0;
  transform: scale(0.9);
  transition: var(--transition);
  transition-delay: 0s;
  border-radius: 15px;
}

.modal.show .modal-dialog .modal-content {
  opacity: 1;
  transition-delay: 0.1s;
  transform: scale(1);
  border: none;
  overflow: hidden;
}

.modal_main {
  display: flex;
  align-items: flex-start;
  grid-gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.modal_side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-gap: 15px;
  flex: 0 0 170px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  width: 100%;
}

.modal_img_parent {
  padding: 10px;
  border-radius: 10px;
  background: var(--gray-100);
  box-shadow: inset 0 0 5px var(--gray-200);
}

.modal_img {
  height: 120px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--white);
}

.modal_img img {
  object-fit: contain;
}

.modal_title {
  font-size: clamp(20px, 2vw, 30px);
  color: var(--black);
  font-weight: 600;
}

.modal_description {
  font-size: 15px;
  color: var(--gray-500);
  line-height: 1.5;
}

.copy {
  height: 45px;
  width: 100%;
  border-radius: 6px;
  background: var(--gray-50);
  text-align: center;
  font-weight: 500;
  border: 1px solid var(--gray-200);
}

.copy_btn {
  justify-content: center;
  margin: auto;
  flex: 1;
  max-width: 260px;
}

.copy_wrapper {
  display: flex;
  grid-gap: 10px;
  flex-wrap: wrap;
}
.modal-body{
  padding: 0;
}
.modal_center {
  display: flex;
  align-items: center;
    max-width: 100%;
  min-height: calc(100% - 3.5rem);
}
@media (min-width: 768px) {
  .modal_center{
    max-width: 800px;
  }
}
.modal_visit {
  justify-content: center;
}

.modal_footer {
  padding: 15px;
  border-top: 1px solid var(--gray-200);
  background: var(--gray-50);
}

.modal_note {
  color: var(--primary-500);
  font-size: clamp(13px,2vw,15px);
  font-weight: 500;
  text-align: center;
}
.modal_side_parent {
    display: flex;
    grid-gap: 30px;
}

.modal_side_details {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.copy_wrapper>* {
    flex: 1 1 300px;
}
.modal .timing{
  justify-content: center;
}

.search_result {
    width: 100%;
    left: 0;
    z-index: 1111110;
    position: absolute;
    top: calc(100% + 10px);
    z-index: 99999;
    background: var(--gray-50);
    display: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.search_result h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    background: var(--white);
    justify-content: space-between;
    box-shadow: 0px 4px 5px -5px #0001;
}

.search_result_ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
    list-style: none;
    max-height: 250px;
    padding: 15px;
    overflow-X: auto;
}

.search_result_item {
    background: #f2f6ff;
    display: flex;
    padding: 5px 10px;
    grid-gap: 10px;
    box-shadow: inset 0 0 5px #0001;
    border-radius: 5px;
    color: #000;
    transition: 0.2s ease;
    text-transform: capitalize;
}

.search_result_item:hover,
.search_result_item:focus {
    color: #000;
}

.search_result_item:hover {
    background: blue;
    color: #fff;
}

.search_result_ul a {
    display: flex;
    background: var(--white);
    padding: 10px;
    border-radius: 6px;
    grid-gap: 5px;
    transition: 0.3s ease;
    box-shadow: 0 0 5px var(--gray-200);
}

.store-name {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

.store-info {
    color: var(--black);
    font-size: 14px;
    margin-top: auto;
    font-weight: 500;
    opacity: 0.5;
}

.search_result_ul a .web_imagebox {
    width: 50px;
    flex: 0 0 50px;
    height: auto;
    margin-bottom: 0;
    border: none;
}

.main_stores_list_wrapper .li-detail {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* top button */
.top_button {
   border-radius: 50px;
   width: 45px;
   height: 45px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   background: var(--primary-500) !important;
   position: fixed;
   bottom: 20px;
   right: 20px;
   animation: shake 1s infinite;
   z-index: 999;
   opacity: 0;
   pointer-events: none;
}

.top_button svg {
   height: 25px;
   width: 25px;
   stroke: var(--white);
   transition: 0.2s ease;
}

.top_button.active {
   opacity: 1;
   pointer-events: auto;
}

@keyframes shake {
   0% {
      transform: translateY(0);
   }

   25% {
      transform: translateY(-3px);
   }

   50% {
      transform: translateY(3px);
   }

   75% {
      transform: translateY(-3px);
   }

   100% {
      transform: translateY(0);
   }
}
