@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Rubik-Light.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Rubik-Medium.ttf');
}


@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Rubik-SemiBold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Rubik-Bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Rubik-ExtraBold.ttf');
}


@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Rubik-Black.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

:root {
  /* COLORS */
  --white: #ffffff;
  --black: #151516;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --primary-50: #f0f1ff;
  --primary-100: #E9EBFF;
  --primary-200: #C2C7FF;
  --primary-300: #9BA3FE;
  --primary-400: #737EFE;
  --primary-500: #4C5AFD;
  --primary-600: #4552E6;
  --primary-700: #3E4ACF;
  --primary-800: #3741B8;
  --primary-900: #3039A1;

  --secondary-100: #FFEE9C;
  --secondary-200: #FFE875;
  --secondary-300: #FFE14E;
  --secondary-400: #FFDB27;
  --secondary-500: #FFD400;
  --secondary-600: #E8C100;
  --secondary-700: #D1AD00;
  --secondary-800: #B99A00;
  --secondary-900: #A28700;

  --rating: #ffc107;
}

:where(html, body) {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100dvh;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  transition: 0.5s ease;
  pointer-events: none;
}

body.active {
  overflow-y: hidden;
}

section:not(.no-padding) {
  padding: 40px 0;
  position: relative;
}

figure {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
}

figure.overlay:before {
  position: absolute;
  content: '';
  inset: 0;
  background: linear-gradient(0deg, var(--black) 20%, transparent 50%);
  z-index: 1;
  opacity: 0.8;
}

figure img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.bg {
  background-color: #f0f5f6;
  box-shadow: inset 0 0 5px #d7e6e9;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray-800);
}

::selection {
  background-color: var(--primary-900);
  color: var(--white);
}

::placeholder {
  color: var(--gray-400);
  text-transform: capitalize;
}

:where(img, svg) {
  vertical-align: middle;
}

svg {
  height: 20px;
  width: 20px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2px;
  fill: none;
}

.ti {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  color: var(--black);
}

:where(input, button, textarea) {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

body :where(h1, h2, h3, h4, h5, h6, p) {
  line-height: 1.3;
  margin: 0;
}

html :where(ol, ul, li) {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

:where(a:not([href]):not([class]), a:not([href]):not([class]):hover) {
  color: unset;
  text-decoration: none;
}

.webkit_box {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.arrows {
  height: 40px !important;
  width: 40px !important;
  border-radius: 6px;
  transition: 0.3s ease;
  background: var(--primary-500);
}

.arrows.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  pointer-events: inherit !important;
}

.arrows:after {
  color: var(--white);
  font-size: 18px !important;
  font-weight: 700;
}


/*----------swiper bullet----------*/
.swiper-pagination {
  position: unset;
  width: unset !important;
}

.swiper-pagination-bullet {
  transition: 0.5s ease;
  opacity: 1 !important;
  background: #f3564838;
  width: 8px;
  height: 8px;
  border-radius: 50px;
}

.swiper-pagination-bullet-active {
  background: var(--primary-500);
  font-size: 15px;
  width: 20px;
}

img {
  position: relative;
}

img:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--white) url("../images/logo/favicon.svg") center no-repeat;
  background-size: cover;
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  color: var(--gray-600);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  background: var(--primary-500);
  height: 45px;
  padding: 0 20px;
  justify-content: center;
  border: none !important;
  min-width: 45px;
  border-radius: 9999px;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background: var(--primary-600) !important;
}

.btn span {
  color: var(--white);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  text-transform: capitalize;
}

.btn:hover {
  background: var(--primary-600);
}

.btn i {
  color: var(--white);
  font-size: 18px;
}

.heading {
  font-size: clamp(25px, 3vw, 30px);
  font-weight: 600;
  color: var(--black);
  position: relative;
  text-transform: capitalize;
  line-height: 1;
  padding-left: 20px;
}

.heading:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--primary-500);
  border-radius: 60px;
}

.heading:not(.no_m) {
  margin-bottom: 30px;

}

/* header */
header {
  width: 100%;
  position: absolute;
  z-index: 9;
  padding: 20px 0;
  border-bottom: 1px solid var(--primary-100);
  transition: 0.2s ease;
}

header.active {
  top: 0;
  position: fixed;
  animation: headerFixed 0.6s ease-in-out;
  background: var(--white);
  border-color: var(--gray-50);
  box-shadow: 0 0 10px var(--gray-100);
}

@keyframes headerFixed {
  0% {
    top: -85px;
  }

  100% {
    top: 0;
  }
}

.header_main {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  justify-content: space-between;
  border-radius: 9999px;
}

.header_main>* {
  flex: 1;
}

.logo {
  height: 25px;
  display: flex;
  align-items: center;
  width: 200px;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
}

nav .logo {
  height: 100px;
  padding: 0 60px;
  border-bottom: 1px solid var(--gray-200);
  width: 100%;
  display: none;
}

.contact_btn {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 10px;
}

.menu a {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-400);
  font-weight: 400;
  transition: 0.3s ease;
  position: relative;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
}

.menu a:where(:hover, .active) {
  color: var(--primary-500);
}

.menu a:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--primary-500);
  bottom: 0;
  left: 0;
  border-radius: 999px;
  opacity: 0;
  width: 0%;
  transition: 0.3s ease;
}

.menu a:where(.active, :hover):before {
  opacity: 1;
  width: 100%;
}

.menu_btn {
  height: 45px;
  width: 45px;
  flex: 0 0 45px;
  border-radius: 999px;
  transition: 0.5s cubic-bezier(0.91, -0.14, 0.53, 0.9);
  padding: 0;
  z-index: 99;
  display: none;
}

.menu_btn i {
  font-size: 22px;
}

.menu_btn.active {
  transform: translateX(-300px);
}

.logo_main {
  padding-left: 10px;
}

.search {
  height: 45px;
  border: 2px solid var(--primary-100);
  border-radius: 8px;
  width: 100%;
  transition: 0.3s ease;
}

.search_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.search_wrapper input {
  align-self: stretch;
  flex: 1;
  padding: 10px;
}

.search_wrapper i {
  color: var(--primary-500);
  font-size: 22px;
  font-weight: 500;
}

#search_modal .modal-content {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px #00000022;
}


#search_modal .modal-header {
  border: none;
  padding-bottom: 10px;
}

#search_modal .modal-footer {
  background: var(--gray-50);
  border-color: var(--gray-100);
  box-shadow: 0 0 10px -5px var(--gray-300);
}

.modal-footer p {
  font-size: 14px;
  text-align: center;
  color: var(--gray-400);
}

.search:has(input:focus) {
  border-color: var(--primary-500);
}

.search_item {
  display: flex;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--gray-200);
  padding: 15px;
  transition: 0.2s ease;
  grid-gap: 10px;
}

.search_item:hover {
  background: var(--primary-100);
  border-color: var(--primary-500);
}

.search_item_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.search_item_content h4 {
  font-size: clamp(14px, 2vw, 15px);
  transition: 0.2s ease;
  color: var(--black);
  text-transform: capitalize;
}


.search_item:hover h4 {
  color: var(--primary-500);
}

.search_item_content span {
  color: var(--primary-500);
  font-size: 12px;
  flex: 0 0 auto;
  transition: 0.2s ease;
  text-transform: uppercase;
}

.search_item:hover span {
  color: var(--primary-800);
}

#search_modal .modal-body {
  padding: 0;
  max-height: 400px;
}

.search_item i {
  transition: 0.2s ease;
  font-size: 25px;
  color: var(--primary-500);
}

.search_item:hover i {
  color: var(--primary-800);
}

.search_not_found {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  font-size: 14px;
  color: var(--gray-400);
  min-height: 150px;
}

main {
  padding-top: 85px;
}

/* hero */
.hero {
  padding: 50px 0 !important;
  border-bottom: 2px solid var(--gray-200);
  display: flex;
  min-height: 50dvh;
  align-items: center;
}

.hero:before,
.hero:after {
  content: '';
  position: absolute;
  height: 400px;
  width: 400px;
  background: var(--primary-100);
  border-radius: 50%;
  z-index: -1;
  filter: blur(100px);
}

.hero:after {
  right: 0;
  bottom: 0;
}

.hero:before {
  left: 0;
  top: 0;
}

.hero_main {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}

.hero_content {
  display: flex;
  grid-gap: 30px;
}

.hero_heading {
  flex: 1;
  font-size: clamp(40px, 5vw, 50px);
  font-weight: 600;
  color: var(--black);
  position: relative;
}

.hero_heading span {
  color: var(--primary-500);
}

.hero_content_pera {
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.hero_pera {
  font-size: clamp(16px, 4vw, 18px);
  color: var(--gray-500);
  line-height: 29px;
}

.hero_details {
  display: flex;
  align-items: center;
  grid-gap: 50px;
  justify-content: flex-start;
}

.hero_heading:before {
  content: '';
  position: absolute;
  height: 100px;
  width: 2px;
  background: var(--gray-200);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hero_detail {
  display: flex;
  flex-direction: column;
}

.hero_detail p {
  font-size: clamp(20px, 2vw, 27px);
  font-weight: 600;
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.hero_detail i {
  font-size: 30px;
  color: var(--primary-500);
}

.hero_detail span {
  font-size: clamp(14px, 2vw, 16px);
  text-transform: capitalize;
  color: var(--gray-500);
}

.hero_img figure {
  max-height: 300px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}

/* popular blogs */
.pop_blog {
  display: flex;
  grid-gap: 20px;
  justify-content: center;
  transition: 0.3s ease;
}

.swiper-slide:has(.pop_blog) {
  max-height: 120px;
  display: flex;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0.5;
}

.swiper-slide-thumb-active:has(.pop_blog) {
  opacity: 1;
}

.pop_blog_img {
  transition: 0.3s ease;
  border-radius: 10px;
  height: 120px;
  width: 120px;
  flex: 0 0 120px;
}

.blog_tags {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.blog_tag {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.blog_tag span {
  font-size: 14px;
  text-transform: capitalize;
  color: var(--white);
  line-height: 1;
}

.blog_tag {
  padding: 6px 10px;
  background: var(--primary-400);
  border-radius: 30px;
}

.blog_tag:has(i) {
  padding: 0;
  background: transparent;
}

.blog_tag:has(i) span {
  color: var(--primary-500);
  font-weight: 500;
}

.blog_tag i {
  color: var(--primary-500);
}

.pop_blog_img_slider {
  border-radius: 20px;
}

.pop_blog_title {
  color: var(--black);
  font-size: clamp(20px, 2vw, 22px);
  transition: 0.3s ease;
  -webkit-line-clamp: 2;
  font-weight: 600;
}

a:has(.pop_blog_title) {
  pointer-events: none;

}

.swiper-slide-thumb-active:has(.pop_blog) a:has(.pop_blog_title) {
  pointer-events: auto;

}

.pop_blog_content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.pop_blog_wrapper {
  display: flex;
  max-height: 460px;
  grid-gap: 30px;
}

.pop_blog_wrapper>* {
  flex: 1;
}

.pop_blog_slide_img {
  height: 460px;
  border-radius: 20px;
}

.pop_blog_slide_img:before {
  position: absolute;
  content: '';
  height: 200px;
  width: 200px;
  background: linear-gradient(315deg, var(--black) 10%, transparent 50%);
  bottom: 0;
  right: 0;
  z-index: 1;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--white);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--white);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* latest post */
.latest_blog_wrapper {
  display: flex;
  grid-gap: 30px;
  position: relative;
  align-items: center;
}

.latest_blog_main {
  padding: 30px 10px;
}

.l_b_btn {
  position: unset;
  margin: 0;
}

.latest_blog_slider_btns {
  display: flex;
  grid-gap: 10px;
  justify-content: flex-end;
}

.swiper-slide:has(.latest_blog_card) {
  max-width: 300px;
}

.latest_blog_card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: var(--white);
  box-shadow: 0 0 10px var(--gray-200);
}

.latest_blog_card .btn {
  margin-top: 10px;
}

.latest_blog_img {
  height: 150px;
}

.latest_blog_content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 15px;
}

.latest_blog_content .blog_tags {
  position: absolute;
  top: 10px;
  left: 10px;
}

.latest_blog_title {
  font-size: clamp(20px, 2vw, 22px);
  font-weight: 600;
  color: var(--black);
  -webkit-line-clamp: 2;
}

.latest_blog_desc {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-500);
  -webkit-line-clamp: 3;
}

.latest_blog_slider_btns:before {
  position: absolute;
  content: '';
  width: 500px;
  border-radius: 10px;
  background: var(--gray-50);
  z-index: -1;
  left: 0;
  bottom: 90px;
  top: 0;
}

.l_b_sidebar {
  flex: 0 0 240px;
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 30px;
  justify-content: space-between;
  align-self: stretch;
}

.l_b_sidebar:before {
  position: absolute;
  content: '';
  height: 160px;
  width: 100px;
  background-image: radial-gradient(#737efe 4px, transparent 4px);
  background-size: 20px 20px;
  background-color: rgba(121, 49, 245, 0);
  left: 30px;
  top: 180px;
}

/*popular categories*/
.pop_cat_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, 217px);
  grid-gap: 30px;
}

.pop_cat_item {
  display: flex;
  position: relative;
  margin-top: 17px;
}

.pop_cat_item:before {
  content: '';
  border-radius: 20px;
  position: absolute;
  inset: 0;
  transition: 0.3s ease;
  background: var(--primary-900);
  z-index: 1;
  opacity: 0;
}

.pop_cat_item:hover:before {
  opacity: 0.5;
}

.pop_cat_img {
  border-radius: 20px;
  border: 4px solid var(--primary-500);
  height: 200px;
}

.po_cat_name {
  position: absolute;
  font-size: clamp(16px, 2vw, 18px);
  color: var(--black);
  font-weight: 600;
  transition: 0.3s ease;
  background: var(--white);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  top: -17px;
  padding: 5px 15px;
  border: 4px solid var(--primary-500);
  border-radius: 999px;
  z-index: 1;
  text-transform: capitalize;
}

.po_cat_name span {
  width: 100%;
  text-align: center;
}

.pop_cat_item:hover .po_cat_name {
  top: 80px;
}

.pop_cat_item:nth-child(1),
.pop_cat_item:last-of-type {
  grid-column: 2 span;
}

/* featured blogs */
.featured_blogs_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.featured_blog {
  position: relative;
  border-radius: 10px;
  perspective: 1000px;
}

.f_b_card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.featured_blog:hover .f_b_card {
  transform: rotateY(calc(180deg));
}

.f_b_front,
.f_b_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.f_b_front {
  transform: rotateY(0deg);
  position: unset;
}

.f_b_back {
  transform: rotateY(180deg);
  box-shadow: 0 0 10px var(--gray-200);
  background: var(--white);
  padding: 20px;
}

.f_b_img {
  height: 300px;
}

.f_b_content {
  position: absolute;
  z-index: 1;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  background: linear-gradient(0deg, black, transparent);
  color: var(--white);
}

.f_b_title {
  font-size: clamp(18px, 2vw, 20px);
  transition: 0.3s ease;
  -webkit-line-clamp: 2;
  font-weight: 600;
  color: var(--white);
}

.f_desc {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-400);
}

.f_b_hover_content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  align-items: flex-start;
  height: 100%;
}

.f_b_hover_content .f_b_title {
  color: var(--black);
}

.f_b_hover_content .btn {
  margin-top: auto;
}

/* about */

.about_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about_main h2 {
  font-weight: 600;
}

.about_main h3 {
  font-weight: 600;
}

.about_main p {
  line-height: 1.5;
}

/*store*/

.p_str {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 6px;
  grid-gap: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--white);
  flex: 1 1 182px;
  max-width: calc((100% / 2) - 10px);
}

.p_str_img {
  height: 80px;
  width: 80px;
  flex: 0 0 80px;
  transition: 0.2s ease-in-out;
  margin: 0 auto;
  border-radius: 50px;
  border: 2px solid var(--gray-200);
  padding: 5px;
  background: var(--white);
}

.p_str_img img {
  object-fit: contain;
  border-radius: 50px;
}

.p_str_content {
  display: flex;
  grid-gap: 5px;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  color: var(--black);
  text-transform: capitalize;
  word-break: break-all;
}

.offer {
  font-size: clamp(15px, 2vw, 15px);
  font-weight: 400;
  color: var(--gray-500);
}

.store_main {
  display: flex;
  grid-gap: 30px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.str_item {
  flex: 1 1 300px;
  padding: 20px;
  box-shadow: inset 0 0 5px var(--gray-200);
  background: var(--gray-50);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.str_head {
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.str_alpha {
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  background: var(--primary-100);
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--gray-200);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.str_alpha span {

  font-size: clamp(22px, 2vw, 25px);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--primary-500);
}

.str_head figure {
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  padding: 5px;
}

.str_head figure img {
  object-fit: contain;
}

.str_head_content {
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  flex: 1;
}

.str_head_content a {
  font-size: clamp(20px, 2vw, 22px);
  font-weight: 500;
  text-transform: capitalize;
  color: var(--black);
}

.str_head_content span {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--gray-400);
}

.str_body {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  max-height: 400px;
  overflow: auto;
  padding-right: 10px;
  flex-wrap: wrap;
}

.str_filter {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background: var(--gray-50);
  box-shadow: inset 0 0 5px var(--gray-100);
  margin-bottom: 30px;
  border-radius: 10px;
}

.str_filter .str_alpha {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  flex: 0 0 35px;
  width: 35px;
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  background: var(--white);
  border-radius: 5px;
  color: var(--black);
  transition: 0.2s ease;
  box-shadow: 0 0 5px var(--gray-200);
}

.str_filter .str_alpha:where(:hover, :focus, .active) {
  background: var(--primary-500);
  color: var(--white) !important;
}

/* single alphbate */
.single_alpha .str_body {
  max-height: 100%;
}

/* categories */
.categories_main {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

.cat_item {
  display: flex;
  grid-gap: 15px;
}

.cat_head {
  display: flex;
  flex: 0 0 230px;
  grid-gap: 10px;
}

.cat_head:after {
  content: '';
  position: absolute;
  width: 15px;
  height: calc(100% - 30px);
  background: var(--gray-100);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 2px);
}

.cat_main_img {
  height: 110px;
  width: 100%;
  border-radius: 10px;
}

.cat_main_title {
  font-size: clamp(18px, 2vw, 20px);
  color: var(--black);
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.cat_item>* {
  padding: 15px;
  background: var(--white);
  border-radius: 10px;
  border: 2px solid var(--gray-200);
  position: relative;
  align-items: center;
  flex-direction: column;
}


.cat_body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
  padding: 15px;
  flex: 1;
  align-items: flex-start;
}

.sub_cat {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}

.sub_cat_img {
  height: 80px;
  width: 100%;
  border-radius: 6px;
}

.sub_cat_title {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--black);
  font-weight: 600;
  text-transform: capitalize;
  -webkit-line-clamp: 1;
  word-break: break-all;
}

/* single categoies */
.single_categories_main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 30px;
}

/* singl post */

.main_post .l_p_content {
  opacity: 1;
  transform: none;
  transition: 0s;
  background: var(--white);
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  grid-gap: 10px;
  z-index: 1;
  position: relative;
  max-width: 992px;
}

.cat_sidebar_item .search {
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--white);
}

.main_post {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main_post_img {
  height: 100%;
  position: absolute;
}

.main_post .l_p_content .p_p_title {
  font-size: clamp(25px, 3vw, 28px);
}

.l_p_content .p_p_description {
  display: inline-block !important;
  font-size: clamp(15px, 2vw, 17px);
}

.single_post_main .l_p_content .btn {
  display: none;
}

.s_p_body {
  display: flex;
  flex-direction: column;
  grid-gap: 15px;
  flex: 1;
}

.s_p_body :where(h1, h2, h3, h4, h5, h6) {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--black);
}

.s_p_body :where(p, li) {
  color: var(--gray-500);
  line-height: 1.5;
  list-style: disc inside;
}

.s_p_body :where(ol, ul) {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding-left: 30px;
}

.s_p_body img {
  height: 300px;
  border-radius: 10px;
}

.single_post_content {
  display: flex;
  grid-gap: 30px;
  align-items: flex-start;
  padding: clamp(20px, 3vw, 25px);
  background: var(--gray-50);
  border-radius: 10px;
  border: 1px solid var(--gray-200);
}

.post_pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 30px;
  padding: 20px 0;
  border: 1px solid #0002;
  border-right: 0;
  border-left: 0;
  position: relative;
}

.post_page {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.post_page picture {
  height: 80px;
  flex: 0 0 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.post_page picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post_page picture span {
  position: absolute;
  z-index: 1;
  color: var(--white);
  font-size: 15px;
  text-transform: capitalize;
  background: var(--primary-500);
  padding: 5px 0;
  border-radius: 0;
  width: 100%;
  text-align: center;
  transition: 0.3s ease;
  opacity: 0;
  top: 100%;
}

.post_page picture:before {
  position: absolute;
  content: '';
  inset: 0;
  background: transparent;
  z-index: 1;
  transition: 0.3s ease;
}

.post_page:hover span {
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  font-weight: 600;
}

.post_page:hover picture:before {
  background: #0002;
}

.post_page content h5 {
  font-size: clamp(16px, 2vw, 18px);
  font-weight: 600;
  color: var(--black);
  -webkit-line-clamp: 2;
}

.post_pagination:before {
  position: absolute;
  content: '';
  left: 50%;
  width: 1px;
  background: #0002;
  top: 0;
  bottom: 0;
}

.post_page.next {
  flex-direction: row-reverse;
  text-align: right;
}


.categories_sidebar {
  display: flex;
  grid-gap: 25px;
  flex: 0 0 300px;
  position: sticky;
  flex-wrap: wrap;
  top: 20px;
}



.sidebar_categories {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  overflow-y: auto;
  max-height: 400px;
  padding-right: 10px;
}

.sidebar_cat {
  display: flex;
  align-items: center;
  position: relative;
  grid-gap: 10px;
}

.sidebar_categories li:not(:last-of-type) .sidebar_cat {
  border-bottom: 1px solid var(--bs-gray-200);
  padding-bottom: 10px;

}

.sidebar_categories li:not(:last-of-type) .sidebar_cat:before {
  content: '';
  position: absolute;
  bottom: -1.5px;
  border-bottom: 2px solid var(--primary-500);
  width: 0%;
  transition: 0.3s ease;
}

.sidebar_categories li .sidebar_cat:hover:before {
  width: 100%;
}

.sidebar_cat>svg {
  height: 20px;
  width: 20px;
  stroke: var(--gray-300);
  flex: 0 0 20px;
  stroke-width: 2px;
  transition: 0.3s ease;
}

.sidebar_cat:hover>svg {
  stroke: var(--primary-500);
}

.sidebar_cat_title {
  text-transform: capitalize;
  font-size: clamp(13px, 4vw, 15px);
  font-weight: 600;
  color: var(--black);
  flex: 1;
}

.side_cat_icon {
  height: 35px;
  flex: 0 0 35px;
  transition: 0.3s ease;
  width: 35px;
  border-radius: 5px;
  background: var(--gray-200);
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar_cat:hover .side_cat_icon {
  background: var(--primary-500);
}

.side_cat_icon svg {
  transition: 0.3s ease;
  stroke: var(--primary-500);
}

.sidebar_cat:hover .side_cat_icon svg {
  stroke: var(--white);
}

.cat_sidebar_item {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  flex: 1 1 300px;
}


.p_p_details {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-wrap: wrap;
}

.p_p_detail {
  display: flex;
  align-items: center;
  grid-gap: 5px;
}

.p_p_detail span {
  font-size: 15px;
  font-weight: 500;
  color: var(--gray-500);
  text-transform: capitalize;
}

.p_p_detail i {
  color: var(--primary-500);
}

.form_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 5px;
}

.cat_sidebar_item .search .btn {
  border-radius: 5px;
  height: 35px;
  width: 35px;
  flex: 0 0 35px;
  padding: 10px;
  min-width: 35px;
}

.form_wrapper input {
  padding-left: 5px;
}

.sidebar_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 600;
  position: relative;
  text-transform: capitalize;
  color: var(--black);
}

section:has(.main_post) {
  height: 450px;
}

/* single store */
.switchers {
  display: inline-flex;
  align-items: center;
  grid-gap: 20px;
}

.switchers_items {
  font-size: 15px;
  color: var(--black);
  position: relative;
  transition: 0.2s ease;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 10px;
  border: 1px solid var(--gray-200);
  flex: 1;
  text-align: center;
  /* font-weight: 500; */
}

.switchers_items:hover,
.switchers_items:focus,
.switchers_items.active {
  color: var(--white);
  background: var(--primary-500);
}

.expire_container {
  filter: grayscale(1);
}

.expired_coupon_container {
  text-transform: capitalize;
  width: 100%;
  margin-bottom: 30px;
}

.expired_coupon_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 700;
  color: var(--black);
}

.expired_coupon_container p {
  font-size: clamp(14px, 2vw, 15px);
  font-weight: 500;
  padding-top: 5px;
  color: var(--gray-400);
}

.s_str_head_main {
  background: var(--white);
  padding: 0 !important;
}

.single_str_sidebar {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  background: var(--white);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 0 1px var(--gray-200);
}

.sidebar_item:not(:last-child) {
  border-bottom: 1px solid var(--gray-200);
}

.sidebar_item>*>.sidebar_heading {
  padding: 10px 0;
}

.sidebar_item> :where(*:not(:where(h1, h2, h3, h4, h5, h6))) {
  margin: 12px;
}

.str_profile_item {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.str_pro_head {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}

.str_pro_head .web_imagebox {
  height: 80px;
  width: 80px;
  border: 2px solid var(--primary-500);
  border-radius: 50px;
  padding: 5px;
}

.str_pro_head .web_imagebox img {
  max-height: 90%;
  max-width: 90%;
}

.rated {
  font-size: 15px;
  color: var(--gray-500);
  text-transform: capitalize;
  line-height: 1;
}

.rating_wrapepr {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  grid-gap: 20px;
}

.str_title {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--black);
  font-weight: 500;
  -webkit-line-clamp: 2;
}

.sidebar_item h3 {
  font-size: clamp(16px, 2vw, 18px);
  padding: 12px;
  padding-bottom: 0;
}

.str_abt {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-500);
  -webkit-line-clamp: 8;
  line-height: 1.5;
}

.side_str {
  overflow-y: auto;
  max-height: 442px;
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  padding-right: 10px;
}

.side_str_item {
  display: flex;
  align-items: center;
  color: var(--black);
  grid-gap: 10px;
  flex-direction: column;
  flex: 1 1 100px;
  padding: 10px 8px 8px;
  background: var(--gray-50);
  text-align: center;
  border-radius: 5px;
  transition: 0.3s ease;
  box-shadow: inset 0 0 5px var(--gray-200);
  border: 2px solid transparent;
}

.side_str_item:hover {
  border-color: var(--primary-500);
}

.side_str_img {
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 0 5px var(--gray-300);
}

.side_str_img .web_imagebox {
  height: 100%;
  width: 100%;
}

.side_str_img .web_imagebox img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 60px;
}

.side_str_name,
.side_cat_name {
  transition: 0.2s ease;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--black);
  padding-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}

.side_str_offer,
.side_cat_offer {
  transition: 0.2s ease;
  font-size: 13px;
  color: var(--gray-400);
  text-transform: capitalize;
}

.str_side_cat {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}


.str_side_cat_item {
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  grid-gap: 10px;
  border-radius: 5px;
  border: 2px dashed var(--gray-200);
  padding: 10px;
}

.str_side_cat_item:hover {
  border-radius: 0;
  border-color: var(--primary-500);
}

.str_side_cat_item svg {
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  stroke: var(--primary-500);
  background: var(--gray-100);
  padding: 8px;
  border-radius: 5px;
}

.str_side_cat_item:hover svg {
  stroke: var(--gray-50);
  background: var(--primary-500);
}

.sngle_tab {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
}

.sngle_tab_item {
  padding: 6px 12px;
  border-radius: 5px;
  color: var(--black);
  font-size: 14px;
  border: 1px solid #0001;
  font-weight: 500;
  background: #00000007;
  transition: 0.2s ease;
  text-transform: capitalize;
}

.sngle_tab_item:hover {
  background: var(--primary-500);
  border-color: var(--primary-500);
  color: var(--white);
}

.s_s_main {
  display: flex;
  align-items: flex-start;
  grid-gap: 30px;
}

.s_s_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 25px;
  display: flex;
  flex-direction: column;
}


.main_cpn {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--white);
  border-radius: 10px;
  border: 1px solid var(--gray-200);
  grid-gap: calc((45px / 2) + 10px);
  overflow: hidden;
}

.main_cpn_head {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_cpn_img {
  height: 100px;
  width: 100px;
  padding: 5px;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 0;
  overflow: hidden;
  background: var(--white);
  border-bottom: 1px solid var(--gray-200);
  border-right: 1px solid var(--gray-200);
}


.cpn_title {
  font-size: clamp(16px, 2vw, 18px);
  color: var(--black);
  font-weight: 500;
}

.main_cpn_head_wrapper p {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-500);
  line-height: 1.5;
  -webkit-line-clamp: 2;
}

.timing {
  display: flex;
  grid-gap: 10px 15px;
  border-radius: 0 0 0 5px;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cus_badge {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 13px;
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
}

.cus_badge i {
  font-size: 16px;
}

.cus_badge.expire,
.cus_badge.expire i {
  stroke: #ff0000;
  color: #ff0000;
  padding: 0;
}

.cus_badge.added,
.cus_badge.added i {
  stroke: #ff9700;
  color: #ff9700;
  padding: 0;
}

.cus_badge.uses,
.cus_badge.uses i {
  stroke: var(--primary-900);
  color: var(--primary-900);
  padding: 0;
}

.cus_badge.verified {
  background: #198754;
  justify-content: center;
}

.cus_badge.verified i {
  color: var(--white);
}

.main_cpn_img img {
  max-height: 90%;
  max-width: 90%;
}

.cpn_btn_wrapper {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  width: 100%;
  justify-content: space-between;
}

.ratings a {
  display: inline-block;
}

.ratings svg {
  fill: var(--gray-200);
  height: 23px;
  width: 23px;
  transition: 0.2s ease;
}

.ratings a:where(.active, :hover) svg {
  fill: var(--primary-500);
}

.web_imagebox {
  display: block;
  min-height: 20px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.web_imagebox img {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.main_cpn_img .web_imagebox {
  height: 100%;
  width: 100%;
}

.main_cpn_img .web_imagebox img {
  border-radius: 5px;
}

.main_cpn_head_wrapper {
  flex: 1 1 260px;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 15px;
  padding-bottom: 0;
}

.expiered_coupons {
  filter: grayscale(1);
}

.main_cpn_container {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;
  flex: 1;
}

.sidebar_heading {
  font-size: clamp(18px, 2vw, 20px);
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  color: var(--black);
}

.main_cpn_footer {
  display: flex;
  grid-gap: 20px;
  padding: 10px 15px 10px 10px;
  flex-direction: column;
  background: var(--gray-50);
  box-shadow: inset 0 0 5px var(--gray-200);
}


.visit_str {
  justify-content: center;
  grid-gap: 5px;
}

.cpn_btn {
  background: var(--primary-500);
  width: 180px;
  display: flex;
  align-items: center;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: auto;
  margin-top: calc((-45px / 2) - 15px);
}

.cpn_btn.deal {
  background: var(--secondary-500);
}

.cpn_btn.deal p {
  color: var(--black);
}

.cpn_btn p {
  text-transform: capitalize;
  color: var(--white);
  font-size: 15px;
  flex: 0 0 100%;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.cpn_btn:not(.deal):hover p:nth-child(1) {
  flex: 0 0 60%;
}

.cpn_btn p:nth-child(2) {
  text-align: left;
  border-left: 2px dashed var(--primary-300);
  padding-left: 10px;
}

.single_str_header {
  display: flex;
  align-items: center;
  grid-gap: 30px;
}

.single_str_header figure {
  height: 130px;
  width: 130px;
  flex: 0 0 130px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--gray-200);
}

.single_str_header figure img {
  object-fit: contain;
}

section:has(.single_str_header) {
  padding: 20px 0;
}

.single_str_header_content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.single_str_header_content h2 {
  font-size: clamp(20px, 2vw, 22px);
  color: var(--black);
  font-weight: 500;
}

.single_str_header_content p {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-500);
  -webkit-line-clamp: 2;
}

/* contact */
.contact_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 30px;
  flex-flow: wrap;
}

.contact_info_item {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 10px;
  text-align: center;
  box-shadow: inset 0 0 5px var(--gray-200);
  border-radius: 10px;
  padding: 20px;
  background: var(--primary-50);
}

.contact_info_item i {
  font-size: 40px;
  color: var(--primary-500);
}

.contact_info_heading {
  font-size: clamp(20px, 2vw, 22px);
  font-weight: 600;
  text-transform: capitalize;
}

.contact_info_item span {
  font-size: clamp(14px, 2vw, 15px);
  color: var(--gray-500);
}

.fom_wrapper {
  display: flex;
  grid-gap: 15px;
  flex-wrap: wrap;
}

.field {
  display: flex;
  position: relative;
  transition: 0.3s ease;
  flex-direction: column;
  grid-gap: 10px;
  min-width: 200px;
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  overflow: hidden;
  flex: 1 1 calc(100% / 3 - 30px);
}

.field label {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
  display: none;
}

.field :where(input, textarea) {
  padding: 10px;
  background: var(--white);
  transition: 0.3s ease;
  font-size: 14px;
  border: 2px solid transparent;
  border-radius: 3px;
}

.field:has(textarea) {
  flex: 0 0 100%;
  min-height: 150px;
}

.field:has(textarea) textarea {
  height: 100%;
}

.contact_main {
  display: flex;
  flex-direction: column;
  grid-gap: 30px;
}

/* footer */
footer {
  background-color: var(--gray-900);
  margin-top: auto;
  padding: 45px 0 20px;
}

.footer_columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-gap: 30px;
}

.footer_column {
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.footer_column h3 {
  font-size: clamp(18px, 2vw, 20px);
  color: var(--white);
  text-transform: capitalize;
  font-weight: 600;
}


.ftr_links_wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

.footer_link {
  color: var(--gray-400);
  font-weight: 400;
  text-transform: capitalize;
  font-size: clamp(14px, 2vw, 15px);
  transition: 0.3s ease;
}

.footer_link:hover {
  color: white;
  transform: translateX(15px) scale(1.05);
}

.footer_column p {
  color: var(--gray-400);
  font-weight: 400;
  font-size: 16px;
}

.ftr_logo {
  filter: brightness(0) invert(1);
}

.social_icons {
  display: flex;
  grid-gap: 10px;
  flex-flow: row wrap;
}

.icon {
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  flex: 1 1 auto;
  cursor: pointer;
  transition: 0.3s ease;
  grid-gap: 10px;
  padding: 0 10px;
  overflow: hidden;
}

.icon figure {
  height: 18px;
  width: 18px;
  flex: 0 0 18px;
}

.google_plus figure {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
}

.icon figure img {
  object-fit: contain;
}

.icon.facebook {
  background: #1877f2;
}

.icon.twitter {
  background: #5da9dd;
}

.icon.google_plus {
  background: #e13838;
}

.header_socials .google_plus figure {
  height: 20px !important;
  width: 20px !important;
}

.icon.linkedin {
  background: #0250b1;
}

.icon.pinterest {
  background: #e60023;
}

.icon.instagram {
  background: linear-gradient(216deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.icon span {
  font-size: 15px;
  text-transform: capitalize;
  color: var(--white);
  border-left: 1px solid #ffffff82;
  padding-left: 10px;
  line-height: 1;
}


.footer_blogs_main {
  display: flex;
  grid-gap: 15px;
  flex-direction: column;
  overflow-x: auto;
  max-height: 160px;
  padding-right: 10px;
}

.footer_blogs_main .side_pop_cat_title {
  color: var(--white);
}

.footer_heading {
  font-size: clamp(20px, 2vw, 22px);
  color: var(--white);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 20px;
}


.footer_blogs_main::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.footer_blogs_main::-webkit-scrollbar-track {
  background-color: transparent;
}

.footer_blogs_main::-webkit-scrollbar-thumb {
  background-color: var(--gray-700);
}

.side_pop_cat {
  display: flex;
  align-items: flex-start;
  grid-gap: 10px;
}

.side_pop_cat_img {
  height: 60px;
  width: 60px;
  flex: 0 0 60px;
  overflow: hidden;
  border-radius: 10px;
}

.side_pop_cat_content {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}

.side_pop_cat_content a {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  color: var(--primary-500);
}

.side_pop_cat_title {
  font-size: clamp(15px, 2vw, 16px);
  font-weight: 500;
  color: var(--black);
  -webkit-line-clamp: 2;
}

.side_pop_cat_content a span {
  font-size: 15px;
  text-transform: capitalize;
}

.side_pop_cat_content a i {
  font-size: 18px;
  color: var(--primary-500);
  font-weight: 500;
}

.subscribe_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  height: 45px;
  background: var(--white);
  border-radius: 4px;
  overflow: hidden;
}

.subscribe_form button {
  height: 100%;
  width: 45px;
  background: var(--primary-500);
}

.subscribe_form input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
}

.subscribe_form button i {
  font-size: 18px;
  color: var(--white);
}

.copyright {
  color: var(--gray-300);
  display: flex;
  align-items: center;
  margin-top: 20px;
  grid-gap: 5px;
  font-weight: 300;
  line-height: 1.3;
  padding-top: 20px;
  border-top: 1px solid var(--gray-800);
  text-align: center;
  justify-content: center;
}

/* modal */
.modal.fade .modal-dialog {
  transform: none !important;
}

.modal .modal-dialog .modal-content {
  opacity: 0;
  transform: scale(0.9);
  transition: 0.5s ease;
  transition-delay: 0s;
  border-radius: 15px;
}

.modal.show .modal-dialog .modal-content {
  opacity: 1;
  transition-delay: 0.1s;
  transform: scale(1);
  border: none;
  width: 100%;
}

.modal_main {
  display: flex;
  grid-gap: 20px;
  overflow: hidden;
  border-radius: 20px;
}

.modal_side {
  flex: 0 0 180px;
  background: var(--gray-100);
  border-radius: 0;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  flex-direction: column;
  grid-gap: 20px;
  border: 1px solid var(--gray-200);
}

.modal_content {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  padding: 20px 20px 20px 0;
}

.modal_img {
  height: 150px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px var(--gray-200);
  background: var(--white);
}

.modal_img img {
  object-fit: contain;
}

.modal_title {
  font-size: clamp(25px, 3vw, 30px);
  color: var(--black);
  font-weight: 600;
}

.modal_description {
  font-size: clamp(14px, 2vw, 16px);
  color: var(--gray-500);
  line-height: unset;
}

.copy {
  height: 45px;
  width: 100%;
  border-radius: 30px;
  background: var(--gray-100);
  text-align: center;
  font-weight: 500;
  border: 1px solid var(--gray-200);
}

.copy_btn {
  justify-content: center;
  max-width: 120px;
  margin: auto;
  width: 100%;
}

.copy_wrapper {
  display: flex;
  grid-gap: 10px;
}

.modal_center {
  display: flex;
  align-items: center;
  min-height: calc(100% - 3.5rem);
  /* padding: 0 clamp(0px,2vw,30px); */
  max-width: 800px;
}
.modal_note {
    color: var(--gray-500);
    font-size: clamp(13px,2vw,15px);
    text-align: center;
    margin-top: auto;
    border-top: 1px solid var(--gray-200);
    padding-top: 15px;
}